# --- Gradle -------------------------------------------------------------------
.gradle/
build/

# --- Fabric Loom dev environment ----------------------------------------------
run/
/remappedSrc/
*.launch
logs/

# --- Editor / IDE --------------------------------------------------------------
.idea/
.vscode/
*.iml
*.swp
*~
